@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Caveat+Brush&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

#ballon,
#ballon2,
#ballon3 {
  position: absolute;
  bottom: 200px;
  width: 200px;
  visibility: hidden;
  z-index: 10;
}

#ballon {
  left: 20px;
  animation: float 12s 2s infinite;
}

#ballon2 {
  animation: float 12s 3s infinite;
  right: 20px;
}

#ballon3 {
  animation: float 12s 4s infinite;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100px;
}

@keyframes float {
  from {
    visibility: visible;
    bottom: 0;
  }

  to {
    bottom: 650px;
  }

}

.main {
  background-color: #6C4FFF;
  background-image: url('./assets/flowers.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  padding: 4rem 8rem;
  position: relative;
  width: 80%;
}

.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#flowers {
  position: absolute;
  width: 10%;
}

#avi {
  border: 10px solid #A795FF;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.text {
  text-align: center;
  color: wheat;
  margin-top: 10px;
}

.hb {
  font-family: "Calligraffitti", cursive;
  font-size: 40px;
  margin-bottom: 5px;
  font-weight: bold;
}

.name {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  #avi {
    width: 200px;
    height: 200px;
  }

  .main {
    padding: 4rem 3rem;
  }
}

@media screen and (max-width: 375px) {
  .main {
    padding: 4rem 1rem;
  }

  #avi {
    width: 200px;
    height: 200px;
  }

  .hb {
    font-size: 30px;
  }

  .name {
    font-size: 20px;
  }

  .images {
    justify-content: center;
  }

  .img-none {
    display: none;
  }

  #ballon {
    width: 70px;
  }

  #ballon3 {
    width: 60px;
  }

  #ballon2 {
    width: 70px;
  }

}